@import "tailwindcss";
/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ডার্ক ব্যাকগ্রাউন্ড */
body {
    background: #0A1515;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
